PORT=3000

DB_HOST=gondola.proxy.rlwy.net
DB_PORT=13772
DB_USER=root
DB_PASSWORD=ertMIfpJXrlYEWzhVziiLNGiQNmtBPQl
DB_NAME=railway

JWT_SECRET=copa_stickers_ultra_secure

RENDER_EXTERNAL_URL=https://site-figurinhas-copa-2026.onrender.com

FRONTEND_URL=https://site-figurinhas-copa-2026.vercel.app

NODE_ENV=development

